[2018-07-31 11:58] sdodsley opened #35 "Upgrade from 2.0.1 to 2.1.0 fails"
When running the documented  process for the plugin using Helm, the upgrade fails:

```# helm upgrade pure-storage-driver pure/pure-k8s-plugin -f values.yaml --version 2.1.0 --recreate-pods```

Error: UPGRADE FAILED: DaemonSet.apps "pure-flex" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"generator":"helm", "release":"pure-storage-driver", "app":"pure-flex", "chart":

[2018-07-31 19:55] patrick-east commented on #35
Fix for this is in #37

[2018-07-31 19:55] #35 closed

[2019-01-22 21:16] hainabc opened #57 "Volume mount timeout"
We try to use our Flash Array to provide persistent storage for our Openshift cluster but I keep getting

Unable to mount volumes for pod "docker-registry-7-2wr7g_default(d19d07e2-1e88-11e9-8fbd-0050569a062c)": timeout expired waiting for volumes to attach or mount for pod

The volume was created just fine on the array so, the plugin can create the volume but it wasn't be able to mount the volume

[2019-01-23 00:16] dinathom commented on #57
@hainabc  we need the syslog from the time of this incident to investigate. Please can you provide this. Also I would highly encourage you to file a  support ticket so we can track the issue and progress. Thanks!

[2019-01-23 00:39] japaniel opened #58 "Plugin image 2.2.1 states my json is malformed"
When I try to use the 2.2.1 helm chart that defaults to the 2.2.1 image I get the following errors from the pure-provisioner

[code]

The values.yaml file I was  using looks something like

[code]
I resolved it by using the previous image in the values.yaml
[code]

It seems that since the config map just takes what is [in the yaml and converts it to json](https://github.com/purestorage/helm-charts

[2019-01-23 01:04] trevormeiss commented on #58
Hi @japaniel. This is a known issue and we are working on a fix.
A quick fix for you would be to replace `NfsEndPoint` with `NFSEndPoint`.
Our apologies for the inconvenience.

[2019-01-23 03:13] hainabc commented on #57
Here is the /var/log/messages starting from where I start the deployment

Jan 22 21:59:27 dc01osnode01 atomic-openshift-node: I0122 21:59:27.236287   35042 kubelet.go:1820] SyncLoop (ADD, "api"): "docker-registry-9-deploy_default(e55bd5f4-1eba-11e9-8d42-0050569a2196)"
Jan 22 21:59:27 dc01osnode01 systemd: Created slice libcontainer container kubepods-besteffort-pode55bd5f4_1eba_11e9_8d42_0050569a2

[2019-01-23 03:22] taherv commented on #57
[code]
The no volume plugin matched message is the critical error here.
It means that kubelet is not finding Pure's flexvol driver binary. Kubelet looks in a well known location, and Pure's PSO install usually copies its flexvol driver binaries in the right location.
To see where PSO is dropping binaries, look at the volumes mounted by the pure-flex pod. There should be one per node. Looking at an

[2019-01-23 03:49] hainabc commented on #57
Here is the describe pod result

Name:               pure-flex-f4s7d
Namespace:          pure-storage
Priority:           0
PriorityClassName:  <none>
Node:               dc01osnode01.abcfinancial.net/172.20.109.12
Start Time:         Tue, 22 Jan 2019 14:59:00 -0600
Labels:             app=pure-flex
                    chart=pure-k8s-plugin
                    controller-revision-hash=2717509372

[2019-01-23 04:06] taherv commented on #57
Yep, the path is correct. And it is the default path in the helm chart from here :
https://github.com/purestorage/helm-charts/blob/348474c12fb415d80d7e4035a125bc22ee8b26ad/pure-k8s-plugin/values.yaml#L49

The next thing to check, does kubelet look in this path ?
Also, what version of Kubernetes/Openshift is this ? (You can run kubectl version, it should print client and server versions, we are int

[2019-01-23 04:13] hainabc commented on #57
I found the problem. I am current running Openshift 3.11, in the document, Openshift is looking for flexvolume driver at /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ instead.
So, I created a pure~flex folder and copy everything from /etc/origin/node/kubelet-plugins/volume/exec to it and the pod can now mount the volume.
It looks like your base install path need to change, at least for OCP

[2019-01-23 04:15] taherv commented on #57
Glad you could adjust the paths. The values can be overridden at install time, so I suggest you adjust the path there. This manual copy might not stick if you reimage your node, plus you have to do this manually for all nodes. That's what the pure-flex daemon is for :)

I'll keep this bug open to implement the fix for 3.11 as you suggested, thanks for updating the bug and following up on my sugges

[2019-01-23 04:15] hainabc commented on #57
Which looks like OCP is matching with up-steam Kubernetes. Heh, now you don't have to split in 2 anymore

[2019-01-23 15:58] hainabc commented on #57
Also, looks like for Openshift, the flexvolume driver only create pod to compute nodes only

https://github.com/purestorage/helm-charts/blob/348474c12fb415d80d7e4035a125bc22ee8b26ad/pure-k8s-plugin/templates/pure-flex-daemon.yaml#L20-L23

This probably is not ideal since there are things schedule in the infrastructure nodes and master nodes need storage as well (Openshift internal docker registry

[2019-01-23 18:13] japaniel commented on #58
@trevormeiss thanks. I have a workaround for now.

[2019-01-23 18:13] #58 closed

[2019-01-23 18:31] dinathom commented on #57
Regarding the location of the flexvolume binary. It is related to whether you are running RHEL Server or RHEL Atomic Host. @hainabc are you running RHEL Server?

As pointed out here: https://docs.openshift.com/container-platform/3.11/install_config/persistent_storage/persistent_storage_flex_volume.html

Quoting : "In OpenShift Container Platform 3.11, since controller-manager runs as a static pod,

[2019-01-24 20:18] hainabc commented on #57
I am running RHEL Server. That make senses now.

[2019-01-29 22:43] dinathom commented on #57
Addressed by commit 9871d644fc9660e671870fbe5cf6e0320dd526d1

[2019-01-29 22:43] #57 closed

[2019-03-18 03:47] gregsidelinger opened #70 "Only create specified storage classes."
Provide a way to enable/disable the three different storage classes.  For example I'm not setting up pure-file however the helm chart assumes I am and creates a storage class for it.

[2019-03-18 04:10] taherv commented on #70
Hi Greg,
You never know when you might deploy a FlashBlade in your environment. Bad joke, I know, moving on ....

This might impact the usability aspect of the plugin, in a few ways
a. An extra knob on install to choose which storage classes are needed
b. Some way of going back and add the missing storage classes, if one does changes their fleet to need one.

You can always delete any of the built

[2019-03-18 13:24] gregsidelinger commented on #70
I do not agree with having to bust out kubectl to cleanup the work a helm chart did.  Also extra knobs should not matter as long as they have good defaults.

I worked out an update to the chart this morning that provides backwards compatibility with existing settings but will allow each storageclass to be managed own it's own going forward.

[2019-03-19 11:23] javefang opened #72 "Storing api token in Secret instead of ConfigMap"
The `.Values.arrays` contains both non-sensitive data like management endpoint and also sensitive data like api token. Ideally credentials like api token should be stored as Secret instead of ConfigMap.

[2019-03-19 18:27] taherv commented on #72
I agree, api tokens need to be secured.

Would this (https://developer.epages.com/blog/tech-stories/kubernetes-deployments-with-helm-secrets/) be a possible solution ?

@javefang suggestions are welcome !

[2019-03-19 18:41] sdodsley commented on #72
@javefang are you saying you just want the API token to be in a secret, but still visible in the `values.yaml` file, or do you want to obfuscate in the YAML as well?

[2019-03-19 21:17] javefang commented on #72
@taherv @sdodaley, I think for the scope of this chart, just moving the api token from ConfigMap to Secret will suffice.

How to obfuscate the value from the values.yaml file can be left to user to solve. (E.g. helm secrets looks good)

[2019-03-20 16:33] javefang commented on #72
I've submitted a PR as a potential solution for review :)

[2019-04-16 04:59] #72 closed

[2019-04-16 23:45] kdanthony opened #81 "flexPath moved in values.yaml Can Break Upgrade Past 2.2.1"
The flexPath parameter was moved out from under orchestrator/k8s to the base of the yaml in [9871d64](https://github.com/purestorage/helm-charts/commit/9871d644fc9660e671870fbe5cf6e0320dd526d1#diff-67bb1c0c7602691fbf9fff7333c870ea) which causes upgrades past 2.2.1 to look successful but then not be able to actually mount the filesystems due to the volume plugin being installed incorrectly. Might w

[2019-04-17 01:15] sdodsley commented on #81
The recommendation is that when upgrading you should also grab the associated values.yaml for the version you are moving to. This will stop this happening.
We will certainly look to add something in the release notes.

[2019-04-17 15:31] dinathom commented on #81
I have updated the Release Notes to indicate this.

[2019-04-27 03:46] sdodsley opened #88 "Change generator name"
Do we have to have the generator set as `helm` in `_helpers.tpl` when the installation is using the Operator rather than `helm install`? Seems like this is a little confusing...

[2019-05-30 17:10] chrisadkin opened #96 "minimum Kubernetes version information"
Can you please state in the README whether or not there is a minimum version of Kubernetes that PSO will work with.

[2019-05-30 17:40] trevormeiss commented on #96
It is stated in the [pure-k8s-plugin README](https://github.com/purestorage/helm-charts/blob/master/pure-k8s-plugin/README.md#environments-supported) and the [operator README](https://github.com/purestorage/helm-charts/tree/master/operator#prerequisites). We can do a better job of linking to these READMEs from the top-level README.

[2019-05-30 21:34] chrisadkin commented on #96
If you could do that, that would be most useful.

[2019-05-31 22:38] shawhall opened #97 "Pureflex unmounting root volume"
I'm having an issue with the pureflex driver removing all multipaths on my root and /var volume.  These volumes are located on the array but should not be touched by the pureflex driver as they are not PVCs.  When this happens, the machine locks up as it cannot connect to those volumes any more.   Anyone know how to fix it from disconnecting our boot and /var volumes?

Here is an excerpt from the

[2019-06-01 00:20] dinathom commented on #81
Fixed in latest chart

[2019-06-01 00:20] #81 closed

[2019-06-01 00:22] taherv commented on #97
The WWID you mention in your log line is for a Pure FlashArray LUN. (3624A9370D5BC07893D61B51B00255378). It would make sense for PSO to try to clean it up.

Are your root and /var volumes managed by multipath ?

[2019-06-01 00:38] shawhall commented on #97
Yes it is a Pure Flasharray LUN.  Its not a docker volume.  Its the boot volume for the whole system.  If it cleans it up, that will be a problem.  It should only be cleaning up the docker volumes.

root and /var are both multipath FC Pure Array LUNs.

[2019-06-01 00:57] shawhall commented on #97
![pure_k8s](https://user-images.githubusercontent.com/44686630/58741448-9605af00-83cd-11e9-8e24-bb5845a72e9a.png)
Here is a diagram of our architecture, if that helps.

[2019-06-03 17:54] sdodsley commented on #97
@shawhall can you detail steps to reproduce this event? Can you also give the output from `docker info`

[2019-06-03 21:22] briapi commented on #97
@sdodsley We opened a ticket on this issue with support, it is case number 00580464 which should have all the environment info and how it was triggered.

[2019-06-03 21:26] sdodsley commented on #97
@briapi I understand, but since you have opened an issue here then it will help people who don't have access to the Pure internal support system, like when we are travelling and can't get into the VPN...

[2019-06-03 21:39] briapi commented on #97
Sure, here is the docker info output:
`Containers: 219
 Running: 156
 Paused: 0
 Stopped: 63
Images: 84
Server Version: 18.09.2
Storage Driver: overlay2
 Backing Filesystem: xfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file l

[2019-06-05 16:13] justinrush opened #98 "Support setting export rules on flashblade"
The orchestrator creates the volume with a blank *.*.*.* (rw,no_root_squash) on the volume.  Would be good if we could limit this to our k8s subnets.

[2019-06-05 16:22] taherv commented on #98
Could you please elaborate ?

[2019-06-05 16:51] justinrush commented on #98
I would like to have the pure container that creates the flashblade volume, and the sets the NFS export, also put an access list on the volume.  Right now, it allows anyone, anywhere, to mount the share read/write.  For example, it would be great if I could provide these values overrides for the helm chart:
`flashblade:
  snapshotDirectoryEnabled: "false"
  exports:
    ipRange: "192.168.74.0/24"

[2019-06-05 17:42] taherv commented on #98
Got it.
Thanks !

[2019-06-05 20:33] sdodsley commented on #98
@justinrush Great comments and I support this request, however as this is actually a feature request and not a bug we will need you to reach out to your local Pure SE and tell them what you want. Also, get them to directly contact me and @taherv so we can help the process along.

[2019-06-10 18:26] pure-garyyang commented on #97
We have a fix for this issue at the new release 2.5.2. Could you please try it out?
https://github.com/purestorage/helm-charts/releases/tag/2.5.2

[2019-06-10 23:05] shawhall commented on #97
Thanks Gary.  We will try it out and report back.

[2019-07-10 20:58] dinathom commented on #97
Should we close this issue since it was fixed in 2.5.2
No updates in a month

[2019-07-10 21:29] shawhall commented on #97
We tested and its working fine.  Thanks for getting this fixed.

[2019-07-10 21:29] #97 closed

[2019-07-24 21:04] cprivite opened #105 "install.sh references non-existant image on quay.io"
The install.sh script for the operator-csi-plugin references the following:
IMAGE=quay.io/purestorage/pso-operator:v5.0.0

However, the highest tagged image on quay.io/purestorage is:
quay.io/purestorage/pso-operator:v0.0.5

Because of this, the operator-csi-plugin installer does not succeed. The pod it creates is forever stuck on trying to download an image that doesn't exist.

[2019-07-24 21:15] pure-yesmat commented on #105
Hi @cprivite,

We haven't officially released our CSI drivers yet. The images that contain the CSI drivers are not pushed yet. This is just setting up the ground work for our release (hopefully soon).

Thanks,
Youssef

[2019-07-25 13:41] cprivite commented on #105
Ok, would be nice if that was somehow made clear on the github page.

[2019-07-26 09:14] inge4pres commented on #96
Hi there, if you are amending documentation please also fix the information on CSI status for Kubernetes versions.
https://kubernetes.io/blog/2019/01/15/container-storage-interface-ga/
CSI was alpha in 1.9 and beta in 1.10, now stable since 1.13.
Section https://github.com/purestorage/helm-charts/tree/master/pure-csi-plugin#additional-configuration-for-k8s-113 reports incorrect information

[2019-07-26 12:08] sdodsley commented on #96
This is not what the document we link to, ie. https://kubernetes-csi.github.io/docs/csi-driver-object.html, says. The exact wording from that CSI documentation is:
Kubernetes 1.12 - 1.13: Alpha
Kubernetes 1.14: Beta
I do love a little conflict in the documentation, especially when both cited are each supposed to be 'sources of truth', although I do feel a blog is a little less 'truth' that the Git

[2019-07-26 12:53] inge4pres commented on #96
Sorry, my bad I misread the documentation here: CSIDriver is effectively alpha/beta as specified... while the whole CSI interface is instead as documented in the link I posted.
Sorry for the noise 😄

[2019-08-05 19:47] #88 closed

[2019-08-08 12:54] cprivite commented on #105
@pure-yesmat with the pure-csi commit on Tuesday, does that mean the CSI drivers are now released officially?

[2019-08-08 15:12] sdodsley commented on #105
Yes. And we are cleaning up the docs as well.

[2019-08-14 13:14] javefang opened #112 "Clarify the usage of flasharray.preemptAttachments"
Hi! Could you add some more explanation on what this option do? Thanks!

[2019-08-14 13:28] sdodsley commented on #112
I'm sure an engineer will jump in here and correct my definition, but this is effectively the same as storage fencing.
Depending on the version of kubernetes, stateful sets don't handle restarting containers very well. in an ideal world, the volume would be first unmounting on the failing node, then remounted on the new node where the pod is starting up but owing to the nature of the failure mode

[2019-08-14 14:49] javefang commented on #112
thank you @sdodsley for the explanation, this is my expectation. we connect to flasharray with ISCSI, and sometimes we are seeing multipathd and other IO errors which looks like a volume has been force disconnected before kubelet can unmount the filesystem properly. not sure if this is related.

[2019-08-14 15:48] taherv commented on #112
@sdodsley explanation is spot on.
Just two things to add :
a. If you are running k8s 1.13 or later, you should not need this.
b. When preemption is turned off, a mount with an existing connection from a different node will FAIL. this can take pod restarts to take longer, and might impact uptime of the application. We favor data integrity over application availability.

[2019-08-16 19:24] javefang commented on #112
Thank you @taherv, super clear!

[2019-08-16 19:24] #112 closed

[2019-08-23 00:39] czankel opened #114 "pure-csi not found in the list of registered CSI drivers"
I'm getting the following error trying to mount a file system:

`csi_attacher.go:330] kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name pure-csi not found in the list of registered CSI drivers`

However, the driver shows up under csidrivers:

`$ oc get csidrivers.storage.k8s.io
NAME       CREATED AT
pure-csi   2019-08-22T17:00:13Z`

Note that this is for Flas

[2019-08-23 02:28] sdodsley commented on #105
That image is now in quay.io

[2019-08-23 02:32] #105 closed

[2019-08-23 02:34] sdodsley commented on #96
This has been resolved and the READMEs now cover minimum versions of software required

[2019-08-23 02:34] #96 closed

[2019-08-23 02:35] sdodsley commented on #114
You say k8s 1.14, but you are also using `oc` as the command. Can we assume you are using a version of OpenShift 4.x? What version would that be?

[2019-08-23 02:44] sdodsley commented on #114
We are probably going to need a lot of log files to work out where the issue lies.
Can you post the `describe` from the pod that is failing the mount, as well as the logs from the `pso-operator` and `pure-provisoner` pods and the `pure-csi` pod from the node that is running the failing application pod. System log files from that node would also help.

[2019-08-23 21:51] pure-yesmat commented on #114
The logs @sdodsley pointed out will be important.
Can you also check if this path is created on the node: /var/lib/kubelet/plugins/pure-csi/csi.sock.

[2019-09-06 19:56] czankel commented on #114
I found the issue. but don't really have a true fix but a work-around. This probably only affects openshift that is more pedantic with security: The service account _default_ didn't have enough privileges.

1. Add the 'privileged' security context to the default account:
`oc adm policy add-scc-to-user privileged system:serviceaccount:pure-csi-operator:default`

2. Force a restart of the pure-csi d

[2019-09-06 21:39] pure-yesmat commented on #114
Thanks for letting us know. We were limiting the SCC to hostpath and that was sufficient for non CSI drivers pre 4.X. It seems like we may need privileged for CSI drivers in 4.X.

[2019-09-06 22:23] pure-yesmat commented on #114
@czankel I submitted PR https://github.com/purestorage/helm-charts/pull/116. Do you think you can give this a try?

[2019-09-06 23:35] czankel commented on #114
Unfortunately, that didn't seem to have worked (I had some other issues, so cannot rule out that it could have worked). However, a couple of questions:
* it uses the clusterrolebinding user, which is 'pure' by default, yet I have to use the 'default' user to get it to work, instead.
* there doesn't seem to be a hostpath scc in OpenShift 4

Not sure when I can try it again.

[2019-09-09 23:21] pure-yesmat commented on #114
Ok so it looks like I made a mistake.
The 'pure' ServiceAccount is the ServiceAccount used by our pods created here: https://github.com/purestorage/helm-charts/blob/8723c6c3f361b9dc956e56e5906ac79f1e8032d9/pure-csi/templates/rbac.yaml#L15

The host path SCC is created by the install script for the 'pure' ServiceAccount to add the privileges required by our driver.

The pso-operator (that installs

[2019-09-11 21:56] pure-yesmat commented on #114
Updating documentation: https://github.com/purestorage/helm-charts/pull/117

[2019-09-17 11:24] chrisadkin opened #118 "Ubuntu 18.04 support"
Apparently there has been an internal discussion and we believe that the CSI driver supports Ubuntu 18.04, if this is genuinely the case, can the READEME be updated to reflect this.

[2019-09-17 11:31] sdodsley commented on #118
Show me the CI results for Ubuntu 18.04 are passing and we can certainly add that OS to the READMe

[2019-09-17 11:33] chrisadkin commented on #118
In that case, as you were.

[2019-09-28 15:10] sdodsley commented on #118
Docs updated to reflect Ubuntu 18.04 is now supported

[2019-09-28 15:10] #118 closed

[2019-10-24 13:31] menardorama opened #126 "support for zones in a cluster ?"
Hi,

Is it possible (using flexvolume or csi) to segregate the cluster so that the pure storage class can only be used on specific nodes ?

I am implementing a flasharray san on kubernetes and wanted to connect it using FC.
One of our big GPU server don't support FC cards and I don't want to use ISCSI.

So my question is as I can see in the chart that there is some nodeselector parameter; is defin

[2019-10-24 15:23] sdodsley commented on #114
Closing as #117 has now merged.

[2019-10-24 15:23] #114 closed

[2019-10-24 15:26] sdodsley commented on #126
By using the nodeselector this will control the nodes the driver can be installed on. You will also need to explain to kubernetes that to shouldn't try to create a pod that needs a PSO based PV not to start on one of the nodes without the driver...

[2019-11-14 19:03] #126 closed

[2019-11-14 19:18] menardorama opened #135 "ISCSI CSI Plugin mount fail"
Hi,
I am implementing a flasharray on kubernetes, I have deployed the csi helm chart and I can see that persistent volume claim are correctly created.
When I am trying to use the pvc in a pod, it stay in ContainerCreating, logs on the node is not really useful; all I have is
`(durationBeforeRetry 2m2s). Error: "Volume not attached according to node status for volume \"pvc-f33cc299-070a-11ea-b821-5

[2019-11-14 19:31] 2vcps commented on #135
Do you have the feature gates for CSI enabled on the kubelet fro all the nodes?
https://github.com/purestorage/helm-charts/tree/master/pure-csi#additional-configuration-for-kubernetes-113-only

[2019-11-14 19:38] 2vcps commented on #135
Also, please open a support request with Pure Support so it can be tracked internally for your FlashArray.

[2019-11-14 20:30] taherv commented on #135
It might be worth checking if you have a proper iscsi iqn generated and ready for use.
Please check /etc/iscsi/initiatorname.iscsi, it should say something like "InitiatorName=<iqn>".

[2019-11-14 20:31] taherv commented on #135
Could you also please post the output of "kubectl describe pod" for the pod that is not running ?

[2019-11-15 06:14] menardorama commented on #135
No, in fact I didn't realize that I really needed feature flags as CSI was supposed to be GA in kubernetes 1.13....

I'll dig a bit more thanks

[2019-11-15 06:47] menardorama commented on #135
I already generates unique iqn for earch hosts

By the way just got it working using flexvolume !

Is feature flag for CSI is supposed to be stable for a production use in K8s 1.13 ?

[2019-11-15 08:17] taherv commented on #135
Thanks for sharing the update.

We rely on the CSIDriver object functionality in Kubernetes.

This page (https://kubernetes-csi.github.io/docs/csi-driver-object.html) says that it is still alpha for 1.13, so yes, you will need to ensure that this featuregate is enabled in your cluster.

[2019-11-15 08:29] taherv commented on #135
BTW, just curious. If this is new deployment, wouldn't you want to run a more recent version of Kubernetes (like 1.15?) :)

[2019-11-15 14:57] menardorama commented on #135
In fact it's a new kubernetes cluster.

We were using statically nfs pv until now, we bought a flasharray to handle
database workload.

That's why we are in 1.13.....

We plan to bootstrap a new cluster in 1.16 soon.

As it is still in alpha I have rolled back to flexvolume and everything is
working correctly.

Thanks a lot

Le ven. 15 nov. 2019 à 09:29, Taher Vohra <notifications@github.com> a
éc

[2019-11-16 09:03] #135 closed

[2019-11-17 06:44] dburkland commented on #57
For what it's worth on RKE 1.14/15/16 you need to set the FlexPath setting equal to "/var/lib/kubelet/volumeplugins". Once that is set correctly the PSO works great.

[2019-12-05 18:43] asfdtodd opened #142 "These K8s charts are still using deprecated apiVersions"
pso deployments are broken:

{"level":"error","ts":1575570508.7013617,"logger":"helm.controller","msg":"Release failed","namespace":"pso-operator","name":"psoplugin-operator","apiVersion":"purestorage.com/v1","kind":"PSOPlugin","release":"psoplugin-operator-5igmuk6pvf7od89wp3m0z75rr","error":"failed to install release: validation failed: [unable to recognize \"\": no matches for kind \"DaemonSet\"

[2019-12-05 18:49] taherv commented on #142
Are you blocked by this ? If so, can I interest you to submit a patch ? :)

[2019-12-05 19:11] asfdtodd commented on #142
No, I'm not blocked. I forked it and updated the manifests myself and I'm using my own repo for now. I'm not familiar enough writing helm charts to attempt a patch and make a pull request. The maintainer should be able to knock this out no problem.

[2019-12-05 19:17] taherv commented on #142
Cool !

I would still encourage you to submit your patch, we can throw it at our internal CI system. Saves us having to redo some of the work you did.

Your choice.
We'll try to get to this sooner than later.

[2019-12-05 20:49] 2vcps commented on #142
Also, the CSI Driver helm chart does not use the older API versions. Have you tried moving to CSI or is there something in the FlexDriver you need that is not in CSI yet?

[2019-12-06 22:51] asfdtodd commented on #142
According to the instructions there's no migration path from the flexdriver to CSI.

[2020-01-03 18:28] sdodsley commented on #70
This is no longer required due to latest updates and additional SC documentation

[2020-01-03 18:28] #70 closed

[2020-01-13 20:50] kengibous opened #154 "Possible to have StorageClass support allowVolumeExpansion"
If a provisioned PVC is running low on space, what is the recommended approach to expanding?  The current StorageClass does not specify allowVolumeExpansion: true

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims

Would this be a possibility?

Thank you!

[2020-01-13 20:56] sdodsley commented on #154
Volume Expansion is being added in the next quarter for PSO.

[2020-01-13 21:00] kengibous commented on #154
@sdodsley  Thank you!

[2020-01-13 21:00] #154 closed

[2020-01-23 23:55] ninjaslothx opened #161 "kubernetes 1.17 requires schema"
I am on k8s 1.17 and am getting an error during deploy.

The CustomResourceDefinition "psoplugins.purestorage.com" is invalid: spec.versions[0].schema.openAPIV3Schema: Required value: schemas are required

From what I can understand from https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema
If using apiextensions.k8s.io/

[2020-01-24 15:13] sdodsley commented on #161
I suspect this is caused by #151. Here we tried to remove all the beta API references. We probably shouldn't have done this for the `apiextensions` API.

[2020-01-24 17:45] trevormeiss commented on #161
Thanks for opening this issue, @ninjaslothx. We are currently working on a solution.

[2020-01-24 17:50] trevormeiss commented on #142
Fixed by https://github.com/purestorage/helm-charts/pull/151

[2020-01-24 17:50] #142 closed

[2020-01-30 19:49] Pure-AdamuKaapan commented on #161
@ninjaslothx we're working on a fix in #166 . Hopefully should be good to go pretty soon.

[2020-02-11 12:34] devans10 opened #170 "Error deploying or upgrading to v1.0.6"
Receiving the following error when I deploy or upgrade to v1.0.6 via Rancher.

Wait helm template failed. 2020/02/11 12:28:55 warning: skipped value for arrays: Not a table. Error: parse error in "pure-csi/templates/node.yaml": template: pure-csi/templates/node.yaml:141: unexpected "=" in operand : exit status 1

[2020-02-11 17:41] trevormeiss commented on #170
Hi Dave. Can you share your configuration for `defaultMountOpt` in `values.yaml`?
For example, here is the default value: https://github.com/purestorage/helm-charts/blob/d02823e03c2afac2b15c3aa81b09f237cb199e0a/pure-csi/values.yaml#L54-L55

[2020-02-11 18:53] devans10 commented on #170
I tried without specifying it, which should pick up the default and with specifying the value as below.

[code]

[2020-02-11 20:42] dsupure commented on #170
Hi Dave,
Does it work for the latter case you posted? Also, why do you have "`---`" ?  Do you append the value yaml to the other yaml file?

[2020-02-11 22:50] devans10 commented on #170
The "---" can be added or removed.  It doesn't affect the outcome.  What I posted works fine in version 1.0.5.  When I use the same in version 1.0.6, I receive the error.  I get the same with the below

[code]

[2020-02-12 19:23] trevormeiss commented on #170
Hi Dave. I haven't been able to reproduce your error in our test rancher cluster.
I'm assuming "deploy or upgrade via Rancher" means you are adding this github repo as a catalog and then launching the `pure-csi` app, correct?
What version of Rancher are you using?

[2020-02-12 19:28] devans10 commented on #170
That is correct.  I'm using Rancher v2.3.1, and the Kubernetes cluster is v1.15.9

[2020-02-12 22:33] yuha0 opened #171 "Failed to initialize service object for metrics: replicasets.apps"
With the `Role` defined in [install.sh](https://github.com/purestorage/helm-charts/blob/81a4f0e43206e2733c1e432f1089101a5c9d32ae/operator-csi-plugin/install.sh#L371), the operator logs the following error when starts:

[code]

I have to give it additional permission to `get` `replicasets`:

[code]

[2020-02-12 22:36] trevormeiss commented on #171
Hi @yuha0. Which version of kubernetes are you using?

[2020-02-12 22:43] yuha0 commented on #171
@trevormeiss  1.15.9

[2020-02-13 00:05] yuha0 opened #172 "[Feature Request] Reference API token from a kubernetes secret object"
Currently, the API token is specified as a string literal in `PSOPlugin` object in `purestorage.com/v1`.

Since we check in all cluster objects in a git repository, this would mean that we have to expose the token to everyone who has read permission to the repository. This is not very secure.

Kubernetes secret is designed for managing sensitive information, and there are many options to allow us

[2020-02-14 17:54] igitcode opened #173 "[Bug] - Deletion of PSOPlugin resource hangs"
Using the operator-k8s-plugin/install.sh script on OpenShift platform.

When attempting to delete the PSOPlugin/psoplugin-operator the deletion hangs. I believe this is due to the metadata "finalizers" parameter. The finalizers value "uninstall-helm-release" is not a valid object to remove.

Example:
oc delete PSOPlugin/psoplugin-operator -n 'pure-k8s-operator-installed-namespace'
'hangs'

Expecte

[2020-02-14 19:15] sdodsley commented on #173
I believe that the finalizers issue is not something we can resolve in our plugin. This is a known k8s problem. you have to edit the object, manually delete the finalizer and then re-delete.
I think this is noted in our documentation

[2020-02-14 19:23] igitcode commented on #173
Are you saying k8s is injecting the finalizer parameter into the PSOPlugin object metadata? If so, can you elaborate on how this is being done? Via some other annotation/label within the cluster? To me it seems that the PSOPlugin CRD or pso-operator is setting this value.

Also, if this is included in your documentation can you please share a link where this is located?

[2020-02-14 21:31] trevormeiss commented on #171
@yuha0 thanks for catching this! Would you like to open a PR to add this line to both `install.sh` files?

[2020-02-14 22:40] yuha0 commented on #171
@trevormeiss Sure thing!

[2020-02-15 15:17] sdodsley commented on #173
I don't think k8s is injecting anything - it just has problems deleting CRDs.
Our documentation on this is here: https://github.com/purestorage/helm-charts/tree/master/operator-k8s-plugin#uninstall.
If you search in google for CRDs failing to delete correctly you will find quite a few references...

[2020-02-15 18:56] igitcode commented on #173
That is the documentation I followed to delete, but it doesn't not call out that you have to manually remove the "finalizers" parameter. The CRD is failing to delete because of the "finalizers" tag. I'm certain the Pure operator is adding this parameter.

[2020-02-16 00:13] sdodsley commented on #173
Ah - I thought the command to fix this was there....
[code]
This will fix the issue. As I said this is a commonly known error with finalizers in CRDs - it is not specific to our plugin CRD

[2020-02-16 01:03] igitcode commented on #173
Sir - I understand how to fix the issue. I know Kubernetes. I was able to fix the issue before you gave me these instructions. What I'm saying is the issue is not with CRDs in general. I believe the issue is with the Pure operator injecting this parameter into this CRD implementation. Kubernetes is functioning as expected per it's documentation on the finalizers: https://kubernetes.io/docs/tasks/a

[2020-02-16 19:16] sdodsley commented on #173
For clarification, we **do not** add any finalizers in our CRDs.
This appears to be something k8s adds into the CRD in addition to what we define, hence we have no control over it.
What we need to do is fully investigate where it comes from, why it is defined as it is and why this cannot be deleted correctly without the patch.
Let me do some more research into this and speak with some of the k8s c

[2020-02-19 19:39] Pure-AdamuKaapan commented on #161
#166 has been merged which should fix this, closing. If you continue to experience issues please comment on this issue/re-open and we'll address it. Thanks!

[2020-02-19 19:39] #161 closed

[2020-02-19 21:56] #171 closed

[2020-02-24 14:26] javefang opened #178 "node-driver-registrar preStop hook: stat /bin/sh: no such file or directory"
Issue:

pure-csi (daemonset) pod failed to stop due to preStop hook exec failure. (stat /bin/sh: no such file or directory).

Cause:

The preStop hook is trying to run on image "quay.io/k8scsi/csi-node-driver-registrar:v1.1.0"
https://github.com/purestorage/helm-charts/blob/5.0.7/pure-csi/templates/node.yaml#L84-L90
which stopped including /bin/sh since version v1.1.0.

How to reproduce:

1. Insta

[2020-02-24 14:46] sdodsley commented on #178
@javefang after trawling through some repos and readme's it looks like the `preStop` hook is actually redundant.
All we should need to do is remove the hook. Do you agree with this assessment?

[2020-02-24 15:04] javefang commented on #178
Hi @sdodsley , thanks for the swift reply! Looking at https://github.com/kubernetes-csi/node-driver-registrar/issues/21, it feels like the maintainer knows about this and is thinking of replacing the preStop hook with a SIGTERM handler. But the issue is still open.

It is probably ok to remove the preStop hook here as it is: 1) not serving the purpose 2) causing pod stop failure. Do you know if th

[2020-02-24 15:20] sdodsley commented on #178
I'll check this out and get back to you.

[2020-02-24 15:47] sdodsley opened #179 "Default storageclass has incorrect fs_type when set to use FB as the backend"
If the default storageclass is set to use a `backend` of `file`, the default `fstype` should be set to be NFS. It currently defaults to **xfs** and therefore causes PV creation to fail.
This fault is here: https://github.com/purestorage/helm-charts/blob/master/pure-csi/templates/storageclass.yaml#L13.
The error created can be seen here:
[code]

[2020-02-24 16:58] sdodsley commented on #170
@devans10 can you try the latest release 1.0.7 and see if the issue still exists?

[2020-02-24 17:13] devans10 commented on #170
@sdodsley I just tried to update to 1.0.7, and the issue persists.

[2020-02-24 18:09] sdodsley commented on #170
Can you share your whole `values.yaml` file just in case this is a red herring and something else is incorrect?

[2020-02-28 20:10] sdodsley commented on #179
I have just tried this on 5.0.7 with k8s 1.17.3 and the PV is created correctly on the FB even though the `createoptions` shows the `fstype` to be `xfs`.
Whilst the `createoptions` `fstype` thing is cosmetically annoying, the functionality is correct.

[2020-02-28 20:10] #179 closed

[2020-03-04 19:49] devans10 commented on #170
I was providing the snippet above, but even when I do the full values.yaml from the default version, I get the same error.

[code]

[2020-03-04 20:06] 2vcps commented on #170
Are you deploying via helm or the Rancher UI?

[2020-03-04 20:52] devans10 commented on #170
I'm deploying from the Rancher UI.

[2020-03-13 10:36] javefang opened #189 "[pure-csi] create pvc from an externally created snapshots"
Hello,

In the old flexvolume plugin we used to be able to create PVC from a snapshot via annotation `snapshot.beta.purestorage.com/name: <snapshot_name>`. It doens't care how the snapshot was created as long as the prefix matches. We have been trying the new `pure-csi` plugin now and this annotation seems to cease to work.

We have an application in k8s which consumes snapshots outside of the k8s

[2020-03-13 12:42] sdodsley commented on #189
What you are talking about is effectively volume import. This is not defined in the CSI spec, hence why we can't do it at the moment.
We are working on volume import currently and should have it as a feature in the next quarter.
TBH import was only supposed to be for full volumes, not externally created snapshots, but I suspect we could look at how they could be consumed as well.

[2020-03-13 13:47] javefang commented on #189
not exactly volume import, I'm still creating a volume from a snapshot, it's just that the snapshot was created externally, with the name set to the same prefix so it can be accepted by the pure-k8s-plugin.

[2020-03-13 13:52] sdodsley commented on #189
I understand what you are saying but the CSI spec would treat this as a volume import because the snapshot name (even with the correct naming convention) is not known by k8s and therefore is treated as an external volume. That means import.

[2020-03-13 14:21] javefang commented on #189
understood. is it possible to install both `pure-k8s-plugin` (flexvol) and `pure-csi` on the same cluster? (as different StorageClass)

[2020-03-13 16:07] dforste opened #190 "[pure-csi] daemon set fails to start on update.sh"
I have a cluster provisioned with rancher and applying an update to values.yaml causes the pure-csi containers to restart but they fail to start because they can't mount a directory.
[code]

Restarting the Worker node fixes the issue.

[2020-03-13 18:57] sdodsley commented on #189
I think it will work (I gave it a quick try), but you will have to clone the flex repo, edit the `storageclass.yaml` template file to use different names and then zip this up into a tarball for helm to use locally.
Your `values.yaml` for flex will need a different service account name, eg `pure-flex` and I would suggest a different pure namespace setting so you can identify which driver created th

[2020-03-16 14:38] javefang commented on #189
Thanks for the explanation :) looking forward to the volume import feature!

[2020-03-16 14:38] #189 closed

[2020-03-17 17:16] sdodsley commented on #190
@dforste have you installed the latest version of the driver? Is so can you consistently recreate the issue?

[2020-03-26 22:29] MrRexZ opened #197 "[pure-csi] More human-readable name for dynamically created volumes"
With [this PR](https://github.com/kubernetes-csi/external-provisioner/pull/399) merged, it's possible for the Pure CSI driver to make use of the PVC name & namespace and PV name.
Currently the volumes' generated name are in the following format `k8s-{pvc-name}`, which makes it more difficult to associate which PVC refers to which volume when looking at a glance.

[2020-04-02 02:30] sdodsley commented on #170
@devans10 still having this issue? We have release 1.0.8 now

[2020-04-02 02:32] sdodsley commented on #190
@dforste do you still have this issue?

[2020-04-02 12:12] sdodsley commented on #197
@MrRexZ We would have to wait until that PR gets into a release, probably 1.6.0 when that is out. Then we can investigate

[2020-04-02 12:13] sdodsley commented on #172
@caryli-ps can we look into this?

[2020-04-02 15:19] dforste commented on #190
Sorry for the delay this was consistent behavior with 5.0.8 of the CSI.

[2020-04-02 15:28] sdodsley commented on #190
@2vcps can you have a look at this?

[2020-04-06 13:12] #173 closed

[2020-04-06 13:13] sdodsley commented on #173
With Helm3 now being supported in OpenShift from 4.3 (tech preview) we will no longer be shipping an Operator to install the CSI driver. Helm chart are the only supported method.

[2020-04-06 13:15] sdodsley commented on #98
@justinrush This has been added to the PSO roadmap and should be available later this year.

[2020-04-06 13:23] sdodsley commented on #170
@2vcps can you take a look at this as well?

[2020-04-06 13:31] igitcode commented on #173
Since kubernetes does not auto inject the Finalizers property on a CRD, this is one way to resolve the issue.

[2020-04-06 18:45] devans10 commented on #170
I upgraded my Rancher cluster to 2.4.2.  The update to 1.0.8 was now successful.

[2020-04-06 18:57] sdodsley commented on #170
@devans10 great to here. I'll close this Issue down then. Please reopen if find any other issues with this

[2020-04-06 18:57] #170 closed

[2020-04-09 18:04] sdodsley commented on #178
Reolved

[2020-04-09 18:04] #178 closed

[2020-04-14 15:33] geosword opened #212 "failed to provision volume with StorageClass "pure": rpc error: code = Internal desc = (root): Invalid type. Expected: object, given: null"
Helm chart installs, but fails to provision volume. This is the error message reported via
kubectl describe pvc ...:

[code]
This is echoed in the ```pure-provisioner-0``` pod:

[code]

This is my test pvc manifest:
[code]

Here is the output from k get sc:
[code]

Deployed via helm 3:

[code]

I enabled ```debug:true``` in the chart to see if that gave me any more information, it did not (that I

[2020-04-14 16:43] sdodsley commented on #212
Can you use either the `pure-block` or `pure-file` storageClass, not `pure` depending on whether your backend is either a FlashArray or a FlashBlade.
`pure` is a deprecated SC that will be removed in the next major release of the CSI driver.
Let us know if that works.

[2020-04-14 17:20] geosword commented on #212
Hi @sdodsley  Thanks for the response. I tried with both ```pure-file``` and ```pure-block``` both return the same error when I look at ```k describe pvc...```

@caryli-ps

This is a new install. I already have it working on a cluster at another datacenter, with a different pure storage array. The only major difference is that I deployed that with helm 2 as apposed to helm 3 on this cluster.
But j

[2020-04-14 19:37] geosword commented on #212
Just to show that other methods of talking to the san are working:
[code]
Also that a connection to the pure storage array web interface is possible:
[code]

[2020-04-14 19:42] dsupure commented on #212
Hi @geosword:
Would you mind to share this the helm install information with `--dry-run --debug` flags.
For example:
[code]

[2020-04-14 19:59] geosword commented on #212
Sure...Its here https://pastebin.com/wQyS7dVX

Here's the command I'm using to install (sans the ```--debug``` and ```-dry-run``` natch)

[code]

pure-csi-values.yml consists of:
[code]

[2020-04-14 20:11] geosword commented on #212
I had already tested communications to the array from the workers, and as the output shows, it works. I just tested from a debian container from within the same namespace:
[code]

This works too.
just trying to make sure there arent connection problems somewhere.

[2020-04-14 20:26] geosword commented on #212
I've just noticed this difference between the cluster and array that is working vs the one Im having problems with:
working:
[code]

Not working:
[code]
I also noticed that the tag of ```purestorage/k8s``` is ```5.0.8``` on the working cluster and ```5.1.0``` on the not working cluster, so I tried using the values file to override the tag, which it did, but still reported the same error when tryin

[2020-04-14 20:26] dsupure commented on #212
Hi Can you change your yaml like this:
[code]
I think you miss `arrays:` :).

[2020-04-14 20:29] geosword commented on #212
!"^$£"^%£$!"^%£$!"^%£$^%$^&*(^*&^!$!!!!!

:D

Thank you, and sorry to waste your time!

[2020-04-14 20:29] #212 closed

[2020-04-14 20:33] dsupure commented on #212
No worries, we are more than happy to help! We'll add more checks in the future to give more hints for users for this case like this.

[2020-04-17 14:36] jayunit100 opened #216 "Clarify details in the docs for flashArrays"
@sdizer to add details ...

[code]

seems to be out of sync with the docs...

[2020-04-17 14:37] jayunit100 commented on #216
(xref https://github.com/purestorage/helm-charts/blob/master/pure-csi/values.yaml)

[2020-04-17 19:34] sdodsley commented on #216
@jayunit100 / @sdizer Can you provide more details as to what is out of sync with what?

[2020-04-17 19:43] sdodsley commented on #216
I suspect this has already been resolved by #215

[2020-04-24 12:25] #216 closed

[2020-04-29 19:26] javefang commented on #189
Awesome! volume import would be even better for our use case! looking forward to the release

[2020-04-29 19:58] sdodsley commented on #189
@javefang 5.2.0 has just released: https://github.com/purestorage/helm-charts/releases/tag/5.2.0

[2020-05-19 15:15] GeoffCraig opened #226 "k8s provisioner support for PURE_ISCSI_ALLOWED_CIDRS"
The k8s provisioner does not support setting the PURE_ISCSI_ALLOWED_CIDRS option.

[2020-05-19 15:22] sdodsley commented on #226
Can you provide more details on your issue?

PURE_ISCSI_ALLOWED_CIDRS is definitely allowed in PSO and has been around for a long time.

Use `iSCSIAllowedCIDR` in the `flasharray` section of the `values.yaml` file

[2020-05-20 13:23] #226 closed

[2020-05-26 10:21] mscbpi commented on #98
We made the exact same request to our SE today. Thanks.

[2020-05-26 16:44] mscbpi opened #227 "create a git repo for operator"
- Please clarify your position/best practice concerning the depreciation of helm charts - now that it uses helm 3 w/o Tiller

It seems still easier to deploy with helm.

- Operator deployment is part of the "helm-charts" repo which is quite confusing

[2020-05-26 17:56] sdodsley commented on #227
Helm Charts using Helm 3 is the preferred installation method. The operator is only there for earlier versions of OpenShift which do not support Helm3.

[2020-05-27 06:57] mscbpi commented on #227
Thank you!

My 2 cents:

Then it is quite confusing that you mention a [Migrating from Helm to Operator](https://github.com/purestorage/helm-charts/blob/master/operator-csi-plugin/README.md#migrating-from-helm-to-operator) section in the doc.

The presence of the operator mixed with helm-charts in the same repo named helm-charts is also confusing as mentioned above (not to mention Pure Storage Orc

[2020-05-27 12:48] sdodsley commented on #227
I agree that section is confusing. We are revamping our docs and that that section is scheduled to be removed.

The blog post is old and definitely refers to Helm2. Helm3 is much more user friendly and with Red Hat now setting Helm as GA within OpenShift it largely spells the end of our operator installation method.

[2020-06-23 14:00] sdodsley commented on #98
This feature is included in PSO v6.0.0 which will ship in the next month

[2020-06-23 14:00] #98 closed

[2020-07-08 22:37] zhaojunhua119 opened #241 "Support for Sharing a Volume Among Different Kubernetes Namespaces"
## Requirement
We have a requirement to share a volume with different PODs in different Kubernetes namespaces.

## Problem
In Kubernetes, a volume can only be shared within one namespace by using PersistentVolumeClaim. It is not easy to share a purestorage volume among different namespaces.

#### Can you provide an official way to fulfill this requirement?

## Workaround
Currently, we are using so

[2020-07-09 02:46] sdodsley commented on #241
@zhaojunhua119 as I mentioned before, flex is deprecated and you need to upgrade to the CSI driver.
Flex and CSI work in different ways, so I'm not even sure your workaround will apply under CSI.
What you are asking for is something that would need to be addressed by the CSI/K8S core community. It is not something a CSI driver vendor can properly resolve, even with a `hack`.
You will need to expla

[2020-07-31 19:13] sdodsley commented on #241
This is an RFE for the CSI/K8s community and out of our control

[2020-07-31 19:13] #241 closed

[2020-09-10 19:23] TJM commented on #197
This sounds like it would be really awesome! One of our biggest complaints is that we have to have a magic decoder ring to figure out which volume is causing alerts for the storage team.

[2020-09-10 19:27] TJM commented on #172
This just came up for us as well, we noticed that there was no way to get the API Token from a secret... It would require some restructuring, probably :(

[2020-09-10 19:42] sdodsley commented on #197
@TJM @MrRexZ you may want to investigate PSO eXplorer - our Open Source GUI to visualize these connections.
https://github.com/PureStorage-OpenConnect/pso-explorer

[2020-09-10 19:44] sdodsley commented on #172
@TJM I believe we now hold these API tokens in a secret but are not held in a secret that can be accessed by the Helm chart. This is still an open RFE

[2020-09-20 22:49] StuartWhelan opened #251 "Volume metrics in pure-csi"
I don't seem to be able to find any metrics on the PVC's that are attached to pure storage.

Is the pure-csi exposing metrics like kubelet_volume_stats_available_bytes?

[2020-09-20 22:51] StuartWhelan opened #252 "Clarification on the future of the pure-csi helm chart"
In the header for the pure-csi helm chart there is a message:

_Feature Frozen: Pure Service Orchestrator 5.x is in feature freeze_

What does this mean for the non operator parts of the helm-charts repo, and how does it apply to the pure-csi chart?

[2020-09-20 23:32] sdodsley commented on #252
PSO 5.x will have no further development applied to it.

All new features and functionality are provided in PSO v6.x which uses a different Helm chart - https://github.com/purestorage/pso-csi.

This also applies to the operator. The operator is not supported with PSO v6.0 as all versions of OpenShift that support PSO v6 also fully support Helm3 as a GA installation method.

[2020-09-20 23:32] #252 closed

[2020-09-20 23:33] sdodsley commented on #251
Volumes metrics are only enabled in PSO v6.x which uses a different Helm chart - https://github.com/purestorage/pso-csi

[2020-09-20 23:33] #251 closed

[2020-09-20 23:42] StuartWhelan commented on #252
Sorry, I dont think I explained my question well.

What does this mean for the non operator parts of the helm-charts repo?

I am not using PSO. I am using pure-csi, which is in the same repo, but does not use operator.

 What does the PSO feature freeze mean for the part of this repo that are not PSO specific?

[2020-09-20 23:43] StuartWhelan commented on #251
I am not using PSO, I am not using operator. Are there no metrics for non-pos/generic k8 instances using pure-csi?

[2020-09-21 06:51] dnix101 commented on #251
@StuartWhelan All versions and editions are called PSO. If you are using pure-csi, you are currently using the CSI based version of PSO 5 that is installed using a Helm chart. This version has moved to PSO 6, which is also CSI based and installed using Helm. You can find PSO 6 on the repo mentioned by @sdodsley above.

[2020-09-21 12:26] sdodsley commented on #252
PSO stands for Pure Service **Orchestrator**. It is not an operator, it is the customer facing name of the helm chart you see as pure-csi.

The helm chart pure-csi has been frozen and you should look to move to the pso-csi helm chart.

[2020-10-15 20:10] sdodsley commented on #227
We are not maintaining the Operator for PSO. Helm3 is a fully supported GA installation method for OpenShift from 4.4.

[2020-10-15 20:10] #227 closed

[2021-04-05 14:14] aboje opened #256 "failed to create snapshot in k8s 1.20"
We recently upgraded to k8s 1.20. I am having troubles creating volumesnapshots. Here is the error:

spec:
snapshotClassName: pure-snapshotclass
snapshotContentName: ""
source:
apiGroup: null
kind: PersistentVolumeClaim
name: pvc-nginx
status:
creationTime: "2021-04-05T13:22:48Z"
error:
message: 'Failed to create snapshot: selfLink was empty, can''t make reference'
time: "2021-04-05T13:23:11Z"
rea

[2021-04-05 15:53] aboje commented on #256
If it is true that we need to be on PSO 6.x, does PSO 5.x have any statement that it is incompatible with k8s 1.20?

[2021-04-05 16:24] sdodsley commented on #256
PSO 5.x only supports the k8s alpha snapshot API. This was changed to the beta API from Kubernetes 1.17.
We will add a note to state this

[2021-04-05 16:39] aboje commented on #256
Isn't that still available in k8s 1.20?

$ kubectl api-versions | grep snap
snapshot.storage.k8s.io/v1alpha1

[2021-04-05 16:48] sdodsley commented on #256
That is interesting - Our understanding was that alpha APIs got dropping after n+2 from deprecation.
We have not tested PSO 5.x with k8s 1.20 as we only support this to k8s 1.17.
As noted the issue you see is fixed in the v2+ snapshotter which is used by PSO 6.
The upgrade process for PSO 5.2 to PSO 6.1 is detailed [here](https://github.com/purestorage/pso-csi/blob/master/docs/csi-5to6-upgradepath

[2021-04-05 16:59] aboje commented on #256
Ok, I will start that process.

[2021-04-05 16:59] #256 closed

[2021-06-02 22:11] yuha0 opened #260 "Support storage.k8s.io/v1 API"
Currently, the csi driver in PSO 5 is using [storage.k8s.io/v1beta1](https://github.com/purestorage/helm-charts/blob/5.2.0/pure-csi/templates/node.yaml#L47) API, which is removed in Kubernetes 1.22.

Can PSO 5 support the stable API, `storage.k8s.io/v1`, for existing users who cannot upgrade to PSO 6?

[2021-06-02 22:29] dsupure commented on #260
Hi @yuha0: We don't plan to upgrade PSO 5 to support storage.k8s.io/v1.  Please explore the option to upgrade to PSO 6. Thanks.

[2021-06-03 15:46] yuha0 commented on #260
@dsupure I chatted with you folks on Slack. It looks like the upgrade is not supported when there are hyphens in the PSO 5 `namespace` field.